.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description {
    color: var(--color-accent);
}

.cartContent {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.countColor {
    color: var(--color-text-primary);
}

.line {
    height: 100%;
    border: 1px solid var(--color-text-primary);
    opacity: 0.6;
}
