:root {
    /*
    * Colors
    */
    --color-accent: #df7a7a;
    --color-disabled: #858585;
    --color-outline-focus: #1a75f5;

    /* Text */
    --color-text-primary: #fff;
    --color-text-primary-reverse: #000;
    --color-text-secondary: #b3b3b3;
    --color-text-label: #808080;
    --color-text-error: #f51a51;

    /* Backgrounds */
    --color-bg-primary: #000;
    --color-bg-secondary: #141414;
    --color-bg-primary-reverse: #fff;
    --color-bg-input-hover: #262626;
    --color-bg-card: #fff;
    --color-bg-interactive-secondary: #333;

    /* Borders */
    --color-border-base: #7f7f7f;
    --color-border-input-primary: #4d4d4d;
    --color-border-input-active: #fffefe;

    /*
    * Typography
    */

    /* font-sizes */
    --font-size-xxxs: 12px;
    --font-size-xxs: 13px;
    --font-size-xs: 14px;
    --font-size-s: 16px;
    --font-size-m: 18px;
    --font-size-l: 20px;
    --font-size-xl: 24px;
    --font-size-xxl: 30px;
    --font-size-xxxl: 60px;

    /*
    * Layout
    */
    --header-height: 80px;
    --player-height: 112px;
}
